<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Brak dostępu</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <h1>&#9940 Brak dostępu do tej strony &#9940</h1>
        <p>Nie masz odpowiednich uprawnień do przeglądania tej strony.</p>
        <a th:href="@{/}">&#9194 Powrót &#9194</a>
    </body>
</html>
