<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Albumów</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
        <script th:src="@{/restAlbums.js}"></script>
    </head>
    <body>
        <header>
            <h1>&#128203 Albumy w Sklepie &#128203</h1>
        </header>
        <main id="albums-css">
            <button type="button" onclick="createAlbum();">➕ Dodaj Album ➕</button>
            <div id="albums"></div>
        </main>
        <footer>
            <a th:href="@{/}">&#9194 Powrót &#9194</a>
        </footer>
    </body>
</html>