<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Music Store</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header>
            <h1>🎵 Witaj w Music Store Manager 🎵</h1>
            <div th:if="${#request.remoteUser != null}">
                <p>Zalogowany jako: <span th:text="${#request.remoteUser}"></span></p>
                <p>Logowanie od: <span th:text="${formattedLoginTime}"></span></p>
                <p>Czas trwania sesji (min): <span th:text="${sessionDuration}"></span></p>
                <p>Liczba odwiedzin w tej sesji: <span th:text="${visitCount}"></span></p>
                <a th:href="@{/logout}">&#128272 Wyloguj się &#128272</a>
            </div>
            <div th:if="${#request.remoteUser == null}">
                <p>Nie jesteś zalogowany</p>
                <a th:href="@{/login}">&#128275 Zaloguj się &#128275</a>
            </div>
        </header>
        <main>
            <section>
                <p>Aplikacja webowa do zarządzania albumami i stanem magazynowym sklepu muzycznego.</p>
            </section>
            <div id="operations">
                <a th:href="@{/albums}" class="operation-button">
                    <span>&#128203</span>
                    <span>Zarządzaj Albumami</span>
                </a>
                <a th:href="@{/stock}" class="operation-button">
                    <span>&#128200</span>
                    <span>Stan Magazynu</span>
                </a>
                <a th:href="@{/users}" class="operation-button">
                    <span>&#128119</span>
                    <span>Zarządzaj Pracownikami</span>
                </a>
            </div>
        </main>
        <footer>
            <p>&copy; 2025 Music Store App</p>
            <p><a th:href="@{/appInfo}">&#129520 Informacje o Aplikacji &#129520</a></p>
        </footer>
    </body>
</html>