<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pracownicy</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header>
            <h1>&#128119 Lista Pracowników &#128119</h1>
        </header>
        <main id="albums-css">
            <a th:href="@{/users/add}">➕ Dodaj Pracownika ➕</a>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Imię</th>
                    <th>Nazwisko</th>
                    <th>Email</th>
                    <th>Rola</th>
                    <th>Akcje</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.firstname}"></td>
                    <td th:text="${user.lastname}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                        <a th:href="@{'/users/edit/' + ${user.id}}">&#x270F️ Edytuj &#x270F </a> |
                        <a th:href="@{'/users/delete/' + ${user.id}}" onclick="return confirm('Na pewno?')">&#10060 Usuń &#10060</a>
                    </td>
                </tr>
            </table>
        </main>
        <footer>
            <a th:href="@{/}">&#9194 ️Powrót &#9194</a>
        </footer>
    </body>
</html>
